# https://docs.discloudbot.com/discloud.config
ID=intelliops
TYPE=site
MAIN=app.py
NAME=IntelliOps
AVATAR=
RAM=512
AUTORESTART=false
VERSION=3.13
APT=openjdk-11-jre-headless
BUILD=apt-get update && apt-get install -y openjdk-11-jre-headless && ln -sf /usr/lib/jvm/java-11-openjdk-amd64 /usr/lib/jvm/default-java && export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64 && export PATH=$JAVA_HOME/bin:$PATH && java -version
START=python app.py